In [1]:
import numpy as np
import pandas as pd

In [2]:
campaign_data = pd.read_csv(r'.\data\Campaign_Data.csv')
campaign_data

,CustID,status,Campaign_Exec_Date,Campaign_Channel
0,11111J11RREFG1VoGo1FejtGEVV88JtM,viewed,2019-05-28,Email
1,11111J11RREFG1VoGo1FejtGEVV88JtM,delivered,2019-05-29,Email
2,11111J11RREFG1VoGo1FejtGEVV88JtM,delivered,2019-05-30,Email
3,11111J11RREFG1VoGo1FejtGEVV88JtM,delivered,2019-06-03,Email
4,11111J11RREFG1VoGo1FejtGEVV88JtM,delivered,2019-06-04,Email
...,...,...,...,...
10912587,tttttoJHGe,viewed,2020-11-24,Email
10912588,tttttoJHGe,viewed,2020-11-25,Email
10912589,tttttoJHGe,viewed,2020-11-26,Email
10912590,tttttoJHGe,delivered,2020-11-27,Email
10912591,tttttoJHGe,delivered,2020-11-28,Email

In [3]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10912592 entries, 0 to 10912591
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   CustID              object
 1   status              object
 2   Campaign_Exec_Date  object
 3   Campaign_Channel    object
dtypes: object(4)
memory usage: 333.0+ MB

In [4]:
campaign_data.isna().sum()

CustID                0
status                0
Campaign_Exec_Date    0
Campaign_Channel      0
dtype: int64

In [5]:
campaign_data.duplicated().sum()

0

In [6]:
campaign_data['Campaign_Exec_Date'] = pd.to_datetime(campaign_data.Campaign_Exec_Date)

In [8]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10912592 entries, 0 to 10912591
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   CustID              object
 1   status              object
 2   Campaign_Exec_Date  datetime64[ns]
 3   Campaign_Channel    object
dtypes: datetime64[ns](1), object(3)
memory usage: 333.0+ MB

In [9]:
# pip install mysql

In [10]:
# pip install mysql-connector-python

In [11]:
import mysql.connector
from sqlalchemy import create_engine

In [12]:
# Step 1: Connect to the MySQL database
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="T#9758@qlph",
  database="croma"
)

In [13]:
# Step 2: Create a table in the database to store the data
mycursor = mydb.cursor()

try:
    mycursor.execute("CREATE TABLE Campaign_Data (id INT AUTO_INCREMENT PRIMARY KEY, CustID VARCHAR(255), status VARCHAR(255), Campaign_Exec_Date date, Campaign_Channel VARCHAR(255))")
except Exception as e:
    print(e)

1050 (42S01): Table 'campaign_data' already exists

In [16]:
# Step 3: Convert the Pandas DataFrame to a Format for MySQL Table Insertion

# Replace 'T#9758@qlph' with 'T%239758%40qlph'
password = 'T#9758@qlph'
encoded_password = password.replace('@', '%40')

# Construct the MySQL connection URL
url = f"mysql+mysqlconnector://root:{encoded_password}@127.0.0.1/croma"

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine(url)

# Define your chunk size
chunksize = 100000
# Calculate the total number of chunks needed
total_chunks = -(-len(campaign_data) // chunksize)

# Iterate over the DataFrame in chunks
for i in range(total_chunks):
    start_idx = i * chunksize
    end_idx = min((i + 1) * chunksize, len(campaign_data))
    chunk = campaign_data.iloc[start_idx:end_idx]
    
    # Write each chunk to the SQL database
    chunk.to_sql(con=engine, name='campaign_data', if_exists='append', index=False)