In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'.\data\Customer_Transaction_Data.csv')
data

,CustID,ItemDesc,MerchCategoryDescription,MerchClassDescription,MerchGroupDescription,SaleValue,OrderedQuantity,OrderDate,ReturnFlag,SalesChannelCode,Ecom_BnM_Indicator,StoreID,StoreCode,StoreCity,StoreState,StorePincode
0,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,APPLE PROTECTION PLAN MACBOOK PRO,APPLE PROTECTION PLAN MACBOOK PRO,Mobile Computing,Computers Peripherals,-25398.00,-1,2019-01-01,NaN,RS,B&M,83.0,A129,Pune,Maharashtra,411014
1,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,MacBook Pro 16 2.6GH i7 9G 16GB 512GB SG,MacBook Pro 16 2.6GH i7 9G 16GB 512GB SG,Mobile Computing,Computers Peripherals,-193703.10,-1,2019-01-01,NaN,RS,B&M,83.0,A129,Pune,Maharashtra,411014
2,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,Samsung Galaxy A70 S 6GB White,Samsung Galaxy A70 S 6GB White,Smart Phones (OS Based),Communication,26518.98,1,2019-01-01,NaN,RS,B&M,79.0,A122,Ghaziabad,Delhi NCR,201001
3,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,Wireless Earphones ITFIT Freebie Red,Wireless Earphones ITFIT Freebie Red,Free Gifts,Miscellaneous,0.00,1,2019-01-01,NaN,RS,B&M,79.0,A122,Ghaziabad,Delhi NCR,201001
4,tAEVH8jEG1Eoe1GE1JEojJetVtMGFjto,DELL New bag pack,DELL New bag pack,Mobile Computing,Computers Peripherals,-1120.98,-1,2019-01-01,NaN,RS,B&M,8.0,A010,Surat,Gujarat,395007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625388,VJGotRRtJoe7RRMJHHtE1E71EtE7RJ88,SONY Ephone EX14AP Blk,SONY Ephone EX14AP Blk,Earphones/Headphones,Entertainment,610.98,1,2021-12-31,NaN,RS,B&M,258.0,A258,New Delhi,Delhi NCR,110034
1625389,VG8FJjo7HJH7118AF7JHGV1FE1tMjJMG,SAMSUNG LED 189CM 75AU7700 UHD/4K,SAMSUNG LED 189CM 75AU7700 UHD/4K,TV LCD,Entertainment,111424.80,1,2021-12-31,NaN,RS,B&M,668.0,A348,Indore,Madhya Pradesh,452016
1625390,jHoj7RG1H8J1oEVj78GReeEoFHFGoEAM,Galaxy Watch 4 Classic BT 42mm Silver,Galaxy Watch 4 Classic BT 42mm Silver,Lifestyle & Wearables,Communication,14779.80,1,2021-12-31,NaN,RS,B&M,717.0,A411,Ahmedabad,Gujarat,382449
1625391,VoVjHMA7RGRj8eAeM1ooAE7VEEe8M1j1,Philips Beardtrimmer Series 3000 Stainless Ste...,Philips Beardtrimmer Series 3000 Stainless Ste...,Health & Personal Care,Small Appliances,1127.10,1,2021-12-31,NaN,TN,Ecom,157.0,A209,Surat,Gujarat,395010
1625392,oEVFH8G1FRHHGE8o77RHMRjjjRF1e1H7,"Apple iPhone 14 Plus (256GB, Blue)","Apple iPhone 14 Plus (256GB, Blue)",Smart Phones (OS Based),Communication,94849.80,1,2021-12-31,NaN,TN,Ecom,-1.0,DEFAULT_TN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1625393 entries, 0 to 1625392
Data columns (total 16 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CustID                    1625393 non-null  object
 1   ItemDesc                  1615527 non-null  object
 2   MerchCategoryDescription  1615527 non-null  object
 3   MerchClassDescription     1613558 non-null  object
 4   MerchGroupDescription     1613558 non-null  object
 5   SaleValue                 1625384 non-null  float64
 6   OrderedQuantity           1625393 non-null  int64
 7   OrderDate                 1625393 non-null  object
 8   ReturnFlag                77239 non-null    object
 9   SalesChannelCode          1625393 non-null  object
 10  Ecom_BnM_Indicator        1625393 non-null  object
 11  StoreID                   1625374 non-null  float64
 12  StoreCode                 1625390 non-null  object
 13  StoreCity                 1500269 non-null  object
 14  StoreState                1442466 non-null  object
 15  StorePincode              1442466 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 198.4+ MB

In [4]:
data.isna().sum()

CustID                            0
ItemDesc                       9866
MerchCategoryDescription       9866
MerchClassDescription         11835
MerchGroupDescription         11835
SaleValue                         9
OrderedQuantity                   0
OrderDate                         0
ReturnFlag                  1548154
SalesChannelCode                  0
Ecom_BnM_Indicator                0
StoreID                          19
StoreCode                         3
StoreCity                    125124
StoreState                   182927
StorePincode                 182927
dtype: int64

In [5]:
# ItemDesc values same as MerchCategoryDescription
data.drop(columns=['ItemDesc'], inplace=True)

In [6]:
data.duplicated().sum()

115184

In [7]:
data.drop_duplicates(inplace=True)

In [8]:
data.duplicated().sum()

0

In [9]:
data[['SaleValue', 'OrderedQuantity']] = data[['SaleValue', 'OrderedQuantity']].abs()

In [10]:
# Since only 9 records have nan we can drop them
data.dropna(subset=['SaleValue'], inplace=True)

In [11]:
data.isna().sum()

CustID                            0
MerchCategoryDescription       9308
MerchClassDescription         11540
MerchGroupDescription         11540
SaleValue                         0
OrderedQuantity                   0
OrderDate                         0
ReturnFlag                  1437726
SalesChannelCode                  0
Ecom_BnM_Indicator                0
StoreID                          19
StoreCode                         0
StoreCity                    108780
StoreState                   162939
StorePincode                 162939
dtype: int64

In [12]:
# Putting unknown as we can't assume its value
data['MerchCategoryDescription'].fillna('Unknown', inplace=True)

In [13]:
# Since category value doesn't have repeated nan for class or group hence no point of using map() here
data[(data['MerchClassDescription'].isna()) & (data['MerchCategoryDescription'] != 'Unknown')]

,CustID,MerchCategoryDescription,MerchClassDescription,MerchGroupDescription,SaleValue,OrderedQuantity,OrderDate,ReturnFlag,SalesChannelCode,Ecom_BnM_Indicator,StoreID,StoreCode,StoreCity,StoreState,StorePincode
6864,AJGeeAAoHe,Shipping Charges,NaN,NaN,34.5780,1,2020-08-10,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
6866,AeeHGJ8oAA,Shipping Charges,NaN,NaN,34.5780,1,2020-08-10,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
6957,EJjGVJ7HA811JE11GF8VJ7RGoV1o77jE,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-12,NaN,RS,B&M,156.0,A208,Nadiad,Gujarat,387001
7035,8EHV7VM7R1HE7JH8FeMRe7Mo11VEHMoe,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-14,NaN,RS,B&M,157.0,A209,Surat,Gujarat,395010
7094,GVMEeGJ7AoMj111AeEGRoM8o7MGRj7FF,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-15,NaN,RS,B&M,157.0,A209,Surat,Gujarat,395010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624181,8JH7e1o71G,Shipping Charges,NaN,NaN,81.6000,1,2021-11-18,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624252,tJtoeHoeeG,Shipping Charges,NaN,NaN,40.8000,1,2021-11-20,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624287,8HHJtteA7o,Shipping Charges,NaN,NaN,40.8000,1,2021-11-21,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624501,8HGeG77Hee,Shipping Charges,NaN,NaN,40.8000,1,2021-11-30,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624900,G18e7H1Ho8,Shipping Charges,NaN,NaN,40.8000,1,2021-12-11,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN

In [14]:
data[(data['MerchGroupDescription'].isna()) & (data['MerchCategoryDescription'] != 'Unknown')]

,CustID,MerchCategoryDescription,MerchClassDescription,MerchGroupDescription,SaleValue,OrderedQuantity,OrderDate,ReturnFlag,SalesChannelCode,Ecom_BnM_Indicator,StoreID,StoreCode,StoreCity,StoreState,StorePincode
6864,AJGeeAAoHe,Shipping Charges,NaN,NaN,34.5780,1,2020-08-10,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
6866,AeeHGJ8oAA,Shipping Charges,NaN,NaN,34.5780,1,2020-08-10,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
6957,EJjGVJ7HA811JE11GF8VJ7RGoV1o77jE,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-12,NaN,RS,B&M,156.0,A208,Nadiad,Gujarat,387001
7035,8EHV7VM7R1HE7JH8FeMRe7Mo11VEHMoe,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-14,NaN,RS,B&M,157.0,A209,Surat,Gujarat,395010
7094,GVMEeGJ7AoMj111AeEGRoM8o7MGRj7FF,Umbrella - 23 Piano (HSN-48194000),NaN,NaN,0.0102,1,2020-08-15,NaN,RS,B&M,157.0,A209,Surat,Gujarat,395010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624181,8JH7e1o71G,Shipping Charges,NaN,NaN,81.6000,1,2021-11-18,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624252,tJtoeHoeeG,Shipping Charges,NaN,NaN,40.8000,1,2021-11-20,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624287,8HHJtteA7o,Shipping Charges,NaN,NaN,40.8000,1,2021-11-21,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624501,8HGeG77Hee,Shipping Charges,NaN,NaN,40.8000,1,2021-11-30,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN
1624900,G18e7H1Ho8,Shipping Charges,NaN,NaN,40.8000,1,2021-12-11,NaN,MP,Ecom,-1.0,DEFAULT_MP,NaN,NaN,NaN

In [15]:
# Fill na values with unknown for Class & Group columns
data['MerchClassDescription'].fillna('Unknown', inplace=True)
data['MerchGroupDescription'].fillna('Unknown', inplace=True)

In [16]:
# To fill nan values in storeID using .map()
# Create a mapping from StoreCode to StoreID using non-null values
store_mapping = data.dropna(subset=['StoreID']).set_index('StoreCode')['StoreID']

# Convert mapping Series to a dictionary to deal with repeating values of StoreCode
store_mapping_dict = store_mapping.to_dict()

# Fill NaN values in StoreID column using the mapping
data['StoreID'] = data['StoreCode'].map(store_mapping_dict)

In [17]:
# Using .map() again to store states based on city
city_mapping = data.dropna(subset=['StoreState']).set_index('StoreCity')['StoreState']

city_mapping_dict = city_mapping.to_dict()

data['StoreState'] = data['StoreCity'].map(city_mapping_dict)

In [18]:
# Since we can't assume pincode values
data['StorePincode'].fillna('Unknown', inplace=True)

In [19]:
# To clean pincodes with space like 400 097 = 400097
data['StorePincode'] = data['StorePincode'].str.replace(' ', '')

In [20]:
# Since pincode value doesn't have nan for city or state hence no point of using pincode API
data[(data['StoreCity'].isna()) & (data['StorePincode'] != 'Unknown')]

Empty DataFrame
Columns: [CustID, MerchCategoryDescription, MerchClassDescription, MerchGroupDescription, SaleValue, OrderedQuantity, OrderDate, ReturnFlag, SalesChannelCode, Ecom_BnM_Indicator, StoreID, StoreCode, StoreCity, StoreState, StorePincode]
Index: []

In [21]:
data[(data['StoreState'].isna()) & (data['StorePincode'] != 'Unknown')]

Empty DataFrame
Columns: [CustID, MerchCategoryDescription, MerchClassDescription, MerchGroupDescription, SaleValue, OrderedQuantity, OrderDate, ReturnFlag, SalesChannelCode, Ecom_BnM_Indicator, StoreID, StoreCode, StoreCity, StoreState, StorePincode]
Index: []

In [22]:
# Since we can't use pincode values to fill City and State hence filling NaNs with unknown
data['StoreCity'].fillna('Unknown', inplace=True)
data['StoreState'].fillna('Unknown', inplace=True)

In [23]:
(data['ReturnFlag'].isna().sum() / data['CustID'].count()) * 100

95.2010329757648

In [24]:
# Since over 95 % values are NaN we'll set them as Unknown
data['ReturnFlag'].fillna('Unknown', inplace=True)

In [25]:
data.isna().sum()

CustID                      0
MerchCategoryDescription    0
MerchClassDescription       0
MerchGroupDescription       0
SaleValue                   0
OrderedQuantity             0
OrderDate                   0
ReturnFlag                  0
SalesChannelCode            0
Ecom_BnM_Indicator          0
StoreID                     0
StoreCode                   0
StoreCity                   0
StoreState                  0
StorePincode                0
dtype: int64

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1510200 entries, 0 to 1625392
Data columns (total 15 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CustID                    1510200 non-null  object
 1   MerchCategoryDescription  1510200 non-null  object
 2   MerchClassDescription     1510200 non-null  object
 3   MerchGroupDescription     1510200 non-null  object
 4   SaleValue                 1510200 non-null  float64
 5   OrderedQuantity           1510200 non-null  int64
 6   OrderDate                 1510200 non-null  object
 7   ReturnFlag                1510200 non-null  object
 8   SalesChannelCode          1510200 non-null  object
 9   Ecom_BnM_Indicator        1510200 non-null  object
 10  StoreID                   1510200 non-null  float64
 11  StoreCode                 1510200 non-null  object
 12  StoreCity                 1510200 non-null  object
 13  StoreState                1510200 non-null  object
 14  StorePincode              1510200 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 184.4+ MB

In [38]:
data['OrderDate'] = pd.to_datetime(data['OrderDate'])

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1510200 entries, 0 to 1625392
Data columns (total 15 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CustID                    1510200 non-null  object
 1   MerchCategoryDescription  1510200 non-null  object
 2   MerchClassDescription     1510200 non-null  object
 3   MerchGroupDescription     1510200 non-null  object
 4   SaleValue                 1510200 non-null  float64
 5   OrderedQuantity           1510200 non-null  int64
 6   OrderDate                 1510200 non-null  datetime64[ns]
 7   ReturnFlag                1510200 non-null  object
 8   SalesChannelCode          1510200 non-null  object
 9   Ecom_BnM_Indicator        1510200 non-null  object
 10  StoreID                   1510200 non-null  float64
 11  StoreCode                 1510200 non-null  object
 12  StoreCity                 1510200 non-null  object
 13  StoreState                1510200 non-null  object
 14  StorePincode              1510200 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(11)
memory usage: 184.4+ MB

In [29]:
data.head(10)

,CustID,MerchCategoryDescription,MerchClassDescription,MerchGroupDescription,SaleValue,OrderedQuantity,OrderDate,ReturnFlag,SalesChannelCode,Ecom_BnM_Indicator,StoreID,StoreCode,StoreCity,StoreState,StorePincode
0,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,APPLE PROTECTION PLAN MACBOOK PRO,Mobile Computing,Computers Peripherals,25398.0000,1,2019-01-01,Unknown,RS,B&M,83.0,A129,Pune,Maharashtra,411014
1,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,MacBook Pro 16 2.6GH i7 9G 16GB 512GB SG,Mobile Computing,Computers Peripherals,193703.1000,1,2019-01-01,Unknown,RS,B&M,83.0,A129,Pune,Maharashtra,411014
2,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,Samsung Galaxy A70 S 6GB White,Smart Phones (OS Based),Communication,26518.9800,1,2019-01-01,Unknown,RS,B&M,79.0,A122,Ghaziabad,Delhi NCR,201001
3,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,Wireless Earphones ITFIT Freebie Red,Free Gifts,Miscellaneous,0.0000,1,2019-01-01,Unknown,RS,B&M,79.0,A122,Ghaziabad,Delhi NCR,201001
4,tAEVH8jEG1Eoe1GE1JEojJetVtMGFjto,DELL New bag pack,Mobile Computing,Computers Peripherals,1120.9800,1,2019-01-01,Unknown,RS,B&M,8.0,A010,Surat,Gujarat,395007
5,JRVjoAHoE8R1MJ7RRjJHFEHVVo1EtF1A,Skullcandy Ephone W/Mic Jib Blue,Earphones/Headphones,Entertainment,916.9800,1,2019-01-01,Unknown,RS,B&M,9.0,A011,Pune,Maharashtra,411007
6,7jjeRGRotjGtoRFAeFjVVVRRM81GjoGG,JBL Portable BT Speaker Clip3 Blu,Portable BT Speakers/MP3 Players,Entertainment,2335.8000,1,2019-01-01,Unknown,RS,B&M,14.0,A018,Bangalore,Karnataka,560043
7,RV18RMMHAVjJoe78eGjtAVV1RAM7AoEE,HP Pav 15-dk0046TX 9Gi5 8GB4X 256GB +Off,Gaming Laptops,Computers Peripherals,66085.8000,1,2019-01-01,Unknown,RS,B&M,24.0,A032,New Delhi,Delhi NCR,110007
8,RV18RMMHAVjJoe78eGjtAVV1RAM7AoEE,2Yr OnGo EW-Laptop 70K-1LAC,Mobile Computing,Computers Peripherals,11106.7800,1,2019-01-01,Unknown,RS,B&M,24.0,A032,New Delhi,Delhi NCR,110007
9,RV18RMMHAVjJoe78eGjtAVV1RAM7AoEE,LOGITECH G213 Progidy Gaming Keyboard,Input Devices,Computers Peripherals,2670.6048,1,2019-01-01,Unknown,RS,B&M,24.0,A032,New Delhi,Delhi NCR,110007

In [30]:
data['SalesChannelCode'].unique()
# "EA": Electronic Access
# "EC": E-commerce
# "MP": Marketplace
# "NAC": Not Available/Not Applicable
# "RS": Retail Store
# "TN": Telemarketing

array(['RS', 'EA', 'MP', 'EC', 'TN', 'NAC'], dtype=object)

In [41]:
import mysql.connector
from sqlalchemy import create_engine

In [42]:
# Step 1: Connect to the MySQL database
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="T#9758@qlph",
  database="croma"
)

In [44]:
# Step 2: Create a table in the database to store the data
mycursor = mydb.cursor()

try:
    mycursor.execute("CREATE TABLE Customer_Transaction_Data (CustID VARCHAR(255),MerchCategoryDescription VARCHAR(255),MerchClassDescription VARCHAR(255),MerchGroupDescription VARCHAR(255),SaleValue DECIMAL(18, 2),OrderedQuantity INT,OrderDate DATE,ReturnFlag VARCHAR(255),SalesChannelCode VARCHAR(255),Ecom_BnM_Indicator VARCHAR(255),StoreID DECIMAL(18, 2),StoreCode VARCHAR(255),StoreCity VARCHAR(255),StoreState VARCHAR(255),StorePincode VARCHAR(255))")
except Exception as e:
    print(e)

In [47]:
# Step 3: Convert the Pandas DataFrame to a Format for MySQL Table Insertion

# Replace 'T#9758@qlph' with 'T%239758%40qlph'
password = 'T#9758@qlph'
encoded_password = password.replace('@', '%40')

# Construct the MySQL connection URL
url = f"mysql+mysqlconnector://root:{encoded_password}@127.0.0.1/croma"

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine(url)

# Define your chunk size
chunksize = 100000
# Calculate the total number of chunks needed
total_chunks = -(-len(data) // chunksize)

# Iterate over the DataFrame in chunks
for i in range(total_chunks):
    start_idx = i * chunksize
    end_idx = min((i + 1) * chunksize, len(data))
    chunk = data.iloc[start_idx:end_idx]
    
    # Write each chunk to the SQL database
    chunk.to_sql(con=engine, name='customer_transaction_data', if_exists='append', index=False)