In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel(r'C:\Users\Devang\OneDrive\Desktop\final project\Festive Dates Cleaned.xlsx')
data

,Festive Occasions,From (2019),To (2019),From (2020),To (2020),From (2021),To (2021)
0,Independence Day,2019-08-15,2019-08-15,2020-08-15,2020-08-15,2021-08-15,2021-08-15
1,Republic Day,2019-01-26,2019-01-26,2020-01-26,2020-01-26,2021-01-26,2021-01-26
2,Dhanteras,2019-11-13,2019-11-13,2020-11-02,2020-11-02,2021-10-22,2021-10-22
3,Vijaya Dashami,2019-10-25,2019-10-25,2020-10-15,2020-10-15,2021-10-05,2021-10-05
4,Deepawali/Laxmi Puja/Narak Chaturdashi,2019-11-14,2019-11-15,2020-11-04,2020-11-05,2021-10-24,2021-10-26
5,Christimas,2019-12-25,2019-12-25,2020-12-25,2020-12-25,2021-12-25,2021-12-25
6,Father's Day,2019-06-21,2019-06-21,2020-06-20,2020-06-20,2021-06-19,2021-06-19
7,Mahatma Gandhi Jayanti,2019-10-02,2019-10-02,2020-10-02,2020-10-02,2021-10-02,2021-10-02
8,New Years Eve,2019-12-31,2019-12-31,2020-12-31,2020-12-31,2021-12-31,2021-12-31
9,Gudi Padwa,2019-03-25,2019-03-25,2020-04-13,2020-04-13,2021-04-02,2021-04-02

In [9]:
data.rename(columns={'Festive Occasions':'Festive_Occasion'}, inplace=True)

In [12]:
data.rename(columns={
    'From (2019)':'From_2019',
    'To (2019)':'To_2019',
    'From (2020)':'From_2020',
    'To (2020)':'To_2020',
    'From (2021)':'From_2021',
    'To (2021)':'To_2021'
}, inplace=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Festive_Occasion  10 non-null     object
 1   From_2019         10 non-null     datetime64[ns]
 2   To_2019           10 non-null     datetime64[ns]
 3   From_2020         10 non-null     datetime64[ns]
 4   To_2020           10 non-null     datetime64[ns]
 5   From_2021         10 non-null     datetime64[ns]
 6   To_2021           10 non-null     datetime64[ns]
dtypes: datetime64[ns](6), object(1)
memory usage: 692.0+ bytes

In [4]:
import mysql.connector
from sqlalchemy import create_engine

In [5]:
# Step 1: Connect to the MySQL database
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="T#9758@qlph",
  database="croma"
)

In [6]:
# Step 2: Create a table in the database to store the data
mycursor = mydb.cursor()

try:
    mycursor.execute("CREATE TABLE festive_data (Festive_Occasion VARCHAR(100),From_2019 DATE,To_2019 DATE,From_2020 DATE,To_2020 DATE,From_2021 DATE,To_2021 DATE)")
except Exception as e:
    print(e)

In [14]:
# Step 3: Convert the Pandas DataFrame to a Format for MySQL Table Insertion

# Replace 'T#9758@qlph' with 'T%239758%40qlph'
password = 'T#9758@qlph'
encoded_password = password.replace('@', '%40')

# Construct the MySQL connection URL
url = f"mysql+mysqlconnector://root:{encoded_password}@127.0.0.1/croma"

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine(url)

data.to_sql(con=engine, name='festive_data', if_exists='append', index=False)

10